body {
    background-color: slategray;
  }

  .header {
    padding: 10px 16px;
    background: #555;
    color: black;
  }

  h2 {
    color: black;
    text-align: center;
    font-size: 35px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 102px;
  }

  p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
  }

  a{
      font-weight: bold;
      font-size: 30px;
  }
    img{
        border : 15px solid violet; 
        width :"500";
        height : "500";
    }